.Todo {
    width: 100%;
    min-height: 60px;
    height: fit-content;
    color: var(--light-grayish-blue);
    padding: 20px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    box-sizing: border-box;
    word-break: break-all;
    margin-top: 10px;
}